footer {
    .redes {
        font-style: oblique;
        color: lavenderblush;
        border-radius: 1.5625rem;
        flex-wrap: wrap;
        transition: all 1s;

        &:hover {
            transform: scale(1.2);
            animation: change 3s ease-in;
        }

        @keyframes change {



            25% {
                opacity: 75%;
                border-style: dashed;
                border-color: darkgoldenrod;


            }

            50% {
                opacity: 50%;


            }

            100% {
                opacity: 25%;

            }


        }
    }
}