.logo {

    transition: all 2s;

    &:hover {
        transform: rotate(360deg);
    }
}

body {
    background-image: url(https://scontent.faep9-2.fna.fbcdn.net/v/t39.30808-6/274593870_452494399956565_5069217846133669501_n.jpg?_nc_cat=111&ccb=1-5&_nc_sid=a26aad&_nc_ohc=YQHVtI4OHP8AX_KL9Xg&_nc_ht=scontent.faep9-2.fna&oh=00_AT_aIGHi8STS4TKH8lBd1cS5ia9Ptmq1rWd8xlk2ejNCYQ&oe=626CE5FD);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;





    nav {
        .contenedor {
            background-color: none
        }
    }
}




footer {
    .redes {
        font-style: oblique;
        color: lavenderblush;
        border-radius: 1.5625rem;
        flex-wrap: wrap;
        transition: all 1s;

        &:hover {
            transform: scale(1.2);
            animation: change 3s ease-in;
        }

        @keyframes change {



            25% {
                opacity: 75%;
                border-style: dashed;
                border-color: darkgoldenrod;


            }

            50% {
                opacity: 50%;


            }

            100% {
                opacity: 25%;

            }


        }
    }
}

@media screen and (max-width:640px)and(min-width:0px) {
    body {
        background-color: black;
        background-image: linear-gradient(darkviolet, black );

        nav {
            display: flex;
            flex-direction: column;
            background-color: darkgray;

            div {
                background-color: goldenrod;
                width: 100%;
                border-style: inset;

                a {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                }
            }

            ul {
                display: flex;
                flex-direction: column;

                li {
                    display: flex;
                    flex-direction: row;
                    background-color: black;
                    border: 0.25rem;
                    border-style: inset;
                    width: 100%;
                }
            }
        }

        section {
            height: 50%;
            width: 50%;
            border: 0.25rem;
            border-style: double;
            background-color: gold;
        }

        footer {
            div {
                display: flex;
                flex-direction: row;
                justify-content: center;
                width: 50%;
                height: 50%;
            }

        }

    }
}