section {
    p {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-style: italic;
        color: gold;
    }
    div {

        width: 50%;
        height : 50%;
    }
}

