
body{ background-image: url(https://scontent.faep9-2.fna.fbcdn.net/v/t39.30808-6/274593870_452494399956565_5069217846133669501_n.jpg?_nc_cat=111&ccb=1-5&_nc_sid=a26aad&_nc_ohc=uUcSgCwh2SQAX9gzSaD&_nc_ht=scontent.faep9-2.fna&oh=00_AT-hX331k_4ZfPkNe27a3rmC3Eijts18jcWEsj5o7SinkQ&oe=625D13FD);
background-size: 100%;
background-repeat: no-repeat;
background-position: center;}

.bodyDos { background-image: url(https://scontent.faep9-3.fna.fbcdn.net/v/t39.30808-6/217741777_308457231026950_1646908506822008588_n.jpg?_nc_cat=108&ccb=1-5&_nc_sid=a26aad&_nc_ohc=BWTsi64GIccAX_Ouj-8&tn=8a9Ymn6L9RdjLa41&_nc_ht=scontent.faep9-3.fna&oh=00_AT-yKR5iNhfQm_JDoTBSLyXhBN_lMnIYlgnD5UP6SzesmQ&oe=625C85DB);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;}

    h1 {
        color:lavender
    }

    .tex {
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-style: italic;
color:gold ;

    }

.Imagenes {
    
    width: 20%;
    margin-left: 5rem;
}

.form{
    display: flex;
    flex-direction: row;
}