@import "../base/mapas";
@import "../base/extend";
@import "../base/mixin";

section {
    p {
@extend %texto
    }

}



section {
    .img {
        width: map-get($map: $imagenes, $key: width);
        height: map-get($map: $imagenes, $key: height);
        border-radius: map-get($map: $imagenes, $key: border-radius);
        transition: map-get($map:$imagenes , $key: transition);
        padding:map-get($map: $imagenes, $key: padding);
        
        &:hover {
            
            @include escala ((1.1))
        }
    }

}